root.dir=/opt/lezhi-plugin/

server.port=8099
plugin.server.port=8098
root.url=http://lezhi.bshare.local:8099/
static.url=http://lezhi.bshare.local:8099/assets/
plugin.url=http://lezhi.bshare.local:8098/

backend.thrift.host=192.168.1.136:32123

buzzads.thrift.host=192.168.1.26:32124

scala.mode=development

cassandra.host=192.168.1.137
cassandra.lezhi.keyspace=lezhi_plugin

redis.host=192.168.1.135
redis.port=6379

ad.kestrel.ips=192.168.1.135:22133
ad.kestrel.pool.size=5

genome.enable=false

lezhi.kestrel.ips=192.168.1.135:22133
lezhi.kestrel.pool.size=5

data.access.server.host=192.168.1.24:32125
buzz.user.server.host=192.168.1.134:32123

bshare.jdbcUrl=jdbc:mysql://192.168.1.134/bshare?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8
buzzads.jdbcUrl=jdbc:mysql://192.168.1.134/buzzads?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8

mysql.lezhi.master.jdbcUrl=jdbc:mysql://192.168.1.134/lezhi_plugin?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8
mysql.lezhi.master.username=buzzinate_w
mysql.lezhi.master.password=071013071083
mysql.lezhi.slave.jdbcUrl=jdbc:mysql://192.168.1.134/lezhi_plugin?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8
mysql.lezhi.slave.username=buzzinate_r
mysql.lezhi.slave.password=071013071083

mysql.bshare.username=buzzinate_w
mysql.bshare.password=071013071083

mysql.buzzads.username=buzzinate_w
mysql.buzzads.password=071013071083

bshare.auth.server=http://one.bshare.local/bshare_passport
bshare.auth.client=http://lezhi.bshare.local:8099
bshare.security.cookie.domain=bshare.local
bshare.security.plugin.cookie.domain=bshare.local

lz.analytic.flush.time=0
lz.analytic.akka.collector=1
lz.analytic.akka.updater=10
lz.analytic.akka.clicker=2
lz.analytic.akka.analytic=10
lz.bx.hit.factor=100
lz.bx.hit.interval=14

analytics.thread.interval=1000

metrics.csv.file=/opt/lezhi-plugin